body {
    background-image: url(https://wallpapercave.com/wp/wp7287642.jpg);
    background-size: cover; 
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
}

h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.container {
    flex: 1;
    width: 50%;
    margin-left: 20px;
}

.container-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    background-color: #0000002f;
}

.list-group-item {
    background-color: #fffffffd;
}

#pokemon-info .list-group-item {
    background-color: #000000ce;
    color: white;
}

#history-list .list-group-item:hover {
    background-color: #000000d5;
    color: white;
    cursor: pointer;
}

/* Esta icóno de pokebola es recuperada de https://codepen.io/kjj6198/pen/amRqqK */
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 0;
    margin-right: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  .poke-ball.icon {
    position: absolute;
    width: 2em;
    height: 2em;
    
    background-color: transparent;
    border: .2em solid #333;
    
    border-radius: 50%;
    background-image: linear-gradient(0deg, #fff 0%);
    
    transition: .5s ease transform;
    
    &:hover {
      transform: rotate(360deg);
    }
    
    &:before,
    &:after {
      content: "";
      alt: attr(data-alt);
      position: absolute;
    }
    
    &:before {
      top: calc(50% - 0.1em);
      width: 100%;
      height: 0.2em;
      background-color: #333;
    }
    
    &:after {
      width: .8em;
      height: .8em;
      top: calc(50% - .4em);
      left: calc(50% - .4em);
      
      border-radius: 50%;
      border: .2em solid #333;
      color: #fff;
      background-color: #fff;
    }
}

.title-pokemon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }